@media all{
span.none
{
display: none;
}
div.none
{
display: none;
}
.none1
{
display: none;
}@page
{
        margin: 1.5em;
}
body
{
        margin: 0em 0.5em 0em 0.5em;
}
img
{
	 
	 
}
a
{
	text-decoration: none;
}
sup
{
	font-size: 0.8em;
}
.copyright
{
	margin-top: 0.7em;
	margin-bottom: 0.4em;
	text-indent: 0.01em;
}
.h2a
{
	font-size: 140%;
	margin-top: 0.1em;
	margin-bottom: 1em;
	text-indent: 0.01em;
}
.h4
{
	font-size: 120%;
	margin-top: 1em;
	margin-bottom: 0.3em;
	text-indent: 0.01em;
}
.h4-a
{
	font-size: 130%;
	margin-top: 1em;
	margin-bottom: 0.3em;
	text-indent: 0.01em;
}
.h5-a
{
	font-size: 120%;
	margin-top: 1em;
	margin-bottom: 0.3em;
	text-indent: 0.01em;
}
.black
{
	background-color: #231F20;
	color: #FFFFFF;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.07em;
	padding-bottom: 0.07em;
}
.hrt
{
	margin-top: 1em;
	margin-bottom: 2em;
	border-top: solid 0.3em;
	padding-top: 0.3em;
}
.image
{
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.imagef
{
	margin-top: 0.2em;
	margin-bottom: 1.2em;
	text-align: center;
}
.indent
{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	text-indent: 1.2em;
}
.indentb
{
	margin-top: 0.1em;
	margin-bottom: 1em;
	text-indent: 1.2em;
}
.noindent
{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	text-indent: 0.01em;
}
.noindentb
{
	margin-top: 0.1em;
	margin-bottom: 1em;
	text-indent: 0.01em;
}
.bull
{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 2.7em;
	text-align: left;
	text-indent: -1.4em;
}
.bullt
{
	margin-top: 1em;
	margin-bottom: 0.1em;
	margin-left: 2.7em;
	text-align: left;
	text-indent: -1.4em;
}
.bullb
{
	margin-top: 0.1em;
	margin-bottom: 1em;
	margin-left: 2.7em;
	text-align: left;
	text-indent: -1.4em;
}
.que
{
	margin-top: 0.1em;
	margin-bottom: 0.3em;
	margin-left: 2em;
	text-align: left;
	text-indent: -1.5em;
}
.que1
{
	margin-top: 0.1em;
	margin-bottom: 0.3em;
	margin-left: 2em;
	text-align: left;
	text-indent: -2em;
}
.nounder
{
	text-decoration: none;
}
.alpha
{
	margin-top: 0.1em;
	margin-bottom: 0.3em;
	margin-left: 3.7em;
	text-align: left;
	text-indent: -1.7em;
}
.toc1
{
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	margin-left: 2.1em;
	text-indent: 0.01em;
	text-align: left;
}
.toc2
{
	font-size: 1.1em;
	margin-top: 0.7em;
	margin-bottom: 0.5em;
	margin-left: 1.9em;
	text-align: left;
	text-indent: -1.8em;
}
.toc-1a
{
	font-size: 1.1em;
	margin-top: 1em;
	margin-bottom: 0.1em;
	margin-left: 1.8em;
	text-align: left;
	text-indent: 0.01em;
}
.toc3
{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 2.8em;
	text-align: left;
	text-indent: -1em;
}
.toc4
{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 5.8em;
	text-align: left;
	text-indent: -1em;
}
.ded
{
	margin-top: 4em;
	margin-bottom: 0.5em;
	text-align: right;
}
.ded1
{
	margin-top: 0.5em;
	margin-bottom: 4.5em;
	text-align: right;
}
.side
{
	margin-top: 0em;
	margin-bottom: 0.01em;
	background-color: #EEEFEF;
	text-indent: 0.01em;
color: #000;
}
.figcap
{
	margin-top: 1.2em;
	margin-bottom: 0.5em;
	text-indent: 0.01em;
}
.indexmain1
{
	font-size: 140%;
	margin-top: 1em;
	margin-bottom: 0.1em;
	text-align: center;
}
.indexmain
{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 0.8em;
	text-align: left;
	text-indent: -0.8em;
}
.indexsub
{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 2.4em;
	text-align: left;
	text-indent: -0.8em;
}
.h2f
{
	font-size: 170%;
	margin-top: 2em;
	margin-bottom: 2em;
	text-indent: 0.01em;
}
.imaget
{
	margin-top: 0.2em;
	margin-bottom: 1em;
	text-indent: 0.01em;
}
.h3
{
	font-size: 140%;
	margin-top: 1em;
	margin-bottom: 0.3em;
	text-indent: 0.01em;
}
.dropcap
{
	font-weight: normal;
	font-size: 550%;
	float:left;
	margin-top: -0.6em;
	margin-bottom: -0.3225em;
}
.nums
{
	margin-top: 0.1em;
	margin-bottom: .1em;
	margin-left: 2.2em;
	text-align: left;
	text-indent: -2em;
}
.numpt
{
	margin-top: 1em;
	margin-bottom: .1em;
	margin-left: 3.2em;
	text-align: left;
	text-indent: -2em;
}
.noindent-t
{
	margin-top: 0.6em;
	margin-bottom: 0.1em;
	text-indent: 0.01em;
}
.gray
{
	color: #949598;
}
.h2p
{
	font-size: 180%;
	margin-top: 2em;
	margin-bottom: 0.5em;
	text-align: left;
}
.h2p1
{
	font-size: 160%;
	margin-top: 0.5em;
	margin-bottom: 2em;
	text-align: left;
}
.white
{
	color: #FFFFFF;
}
.title-o
{
	font-size: 130%;
	background-color: #000000;
	font-weight: bold;
	padding-bottom: 0.07em;
	padding-left: 0.9em;
	padding-right: 0.07em;
	padding-top: 0.07em;
	padding-bottom: 0.07em;
color: #000;
}
.toc-l
{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 3em;
	text-align: left;
	text-indent: -3em;
}
.toc-lq
{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 0.3em;
	text-align: left;
	text-indent: 0.01em;
}
.toc-q
{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 0.01em;
	text-align: left;
	text-indent: 0.01em;
}
.h5o
{
	font-size: 130%;
	background-color: #000000;
	margin-top: 1.5em;
	margin-bottom: 1em;
	font-weight: bold;
	padding: 0.8em;
color: #000;
}
.h3-a
{
	font-size: 160%;
	margin-top: 1em;
	margin-bottom: 0.5em;
	text-indent: 0.01em;
}
.figure
{
	background-color: #231F20;
	color: #FFFFFF;
	padding-left: 0.7em;
	padding-right: 1em;
	padding-top: 0.07em;
	padding-bottom: 0.07em;
}
.exam
{
	margin-top: 0.01em;
	margin-bottom: 1em;
	background-color: #A4A6A9;
	text-indent: 0.01em;
color: #000;
}
.side1
{
	margin-top: -1em;
	margin-bottom: 1em;
	background-color: #EEEFEF;
	border-bottom: solid 0.1em;
	border-right: solid 0.1em;
	border-left: solid 0.1em;
	text-indent: 0.01em;
	padding: 0.7em;
color: #000;
}
.imagep
{
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: left;
}
.tabcap
{
	margin-top: 1em;
	margin-bottom: 0.5em;
	text-indent: 0.01em;
}
.table
{
	background-color: #231F20;
	color: #FFFFFF;
	padding-left: 0.7em;
	padding-right: 1em;
	padding-top: 0.07em;
	padding-bottom: 0.07em;
}
.text-icon
{
	margin-top: 1em;
	margin-bottom: 1em;
	text-indent: 0.01em;
}
.text-icon1
{
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 1em;
	text-align: left;
	margin-right: 1em;
	text-indent: 0.01em;
}
.sidebox
{
	margin-top: 1em;
	margin-bottom: 0.1em;
	background-color: #E7E7E8;
	border-right: solid #B2B3B6 0.2em;
	border-left: solid #B2B3B6 0.2em;
	text-indent: 0.01em;
color: #000;
}
.head
{
	font-size: 1.6em;
	margin-top: 1em;
	margin-bottom: 0.01em;
	background-color: #919396;
	border-bottom: solid #B2B3B6 0.2em;
	border-top: solid #B2B3B6 0.2em;
	text-align: center;
color: #000;
}
.sidebox1
{
	margin-top: -0.1em;
	margin-bottom: 1em;
	background-color: #E7E7E8;
	border-bottom: solid #B2B3B6 0.2em;
	border-top: solid #B2B3B6 0.2em;
	border-right: solid #B2B3B6 0.2em;
	border-left: solid #B2B3B6 0.2em;
	text-indent: 0.01em;
	padding: 0.8em;
color: #000;
}
.h3b
{
	font-size: 160%;
	margin-top: 1em;
	margin-bottom: 0.5em;
	text-indent: 0.01em;
}
.h3aa
{
	font-size: 120%;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	text-indent: 0.01em;
}
.bull-image
{
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	margin-left: 2.7em;
	text-align: left;
	text-indent: -1.7em;
}
.que-q
{
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	margin-left: 2em;
	text-align: left;
	text-indent: -1.5em;
}
.quep
{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 2em;
	text-align: left;
	text-indent: 0.01em;
}
.que-q1
{
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	margin-left: 2em;
	text-align: left;
	text-indent: -2em;
}
.num
{
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	margin-left: 3.5em;
	text-align: left;
	text-indent: -1.5em;
}
.num1
{
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	margin-left: 3.4em;
	text-align: left;
	text-indent: -2em;
}
.font1
{
	background-color: #6D6E71;
	color: #FFFFFF;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 0.07em;
	padding-bottom: 0.07em;
}
.indentt
{
	margin-top: 1em;
	margin-bottom: 0.1em;
	text-indent: 1.2em;
}
.bull-image1
{
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	margin-left: 3.9em;
	text-align: left;
	text-indent: -1.4em;
}
.imagett
{
	margin-top: -0.2em;
	margin-bottom: 0.01em;
	text-indent: 0.01em;
}
.noindentt
{
	margin-top: 1em;
	margin-bottom: 0.1em;
	text-indent: 0.01em;
}
.cover-image
{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	text-align: center;
}
.coverimage
{
	margin-top: 0.1em;
	height: 98%;
	margin-bottom: 0.1em;
	text-align: center;
}
.inline
{
	vertical-align: middle;
}
.noindent-d
{
        margin-top: 1.2em;
        margin-bottom: 2em;
        text-indent: 0.01em;
}
.noind-gg
{
        margin-top: 1em;
        margin-bottom: 1em;
        text-indent: 0.01em;
}
.bign
{
	font-size: 1.1em;
}
.side-h
{
	font-size: 120%;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	text-indent: 0.01em;
}
.h5-ggg
{
	font-size: 170%;
	margin-top: 1.2em;
	margin-bottom: 0.5em;
	text-indent: 0.01em;
}
.h5-gg
{
	font-size: 170%;
	margin-top: 1.2em;
	margin-bottom: 0.2em;
	text-indent: 0.01em;
}
.hrg
{
	margin-top: 0.3em;
	margin-bottom: 0.5em;
}
.bullno
{
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	margin-left: 2.6em;
	text-align: left;
	text-indent: 0.1em;
}
.step
{
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	margin-left: 2.6em;
	text-align: left;
	text-indent: 0.1em;
}
.h1
{
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        text-indent: 0.01em;
}
.none
{
        display: none;
}
.hrt1
{
        display: none;
	margin-top: 1em;
	margin-bottom: 0em;
	border-top: solid 0.3em;
	padding-top: 0.3em;
}
.hr-c
{
        display: none;
	margin-top: 1em;
	margin-bottom: 0em;
	border-top: solid 0.3em;
}
.hr-c1
{
        display: none;
	margin-bottom: 0em;
	border-top: solid 0.3em;
	padding-top: 0.3em;
}
.hr-s
{
        display: none;
	margin-top: 1em;
	margin-bottom: 0em;
	border-top: solid 0.3em;
}
.hr-s1
{
        display: none;
	margin-bottom: 0em;
	border-top: solid 1em;
	padding-bottom: 0.3em;
}
.hr-si
{
        display: none;
	margin-top: 1em;
	margin-bottom: 0em;
	border-top: solid 0.3em;
}
.hr-si1
{
        display: none;
	margin-bottom: 0em;
	border-top: solid 1em;
	padding-bottom: 0.3em;
}
.hrt1a
{
	margin-top: 0em;
	margin-bottom: 0em;
	border-bottom: solid 0.3em;
        display: none;
}
.hr-side
{
        display: none;
	margin-top: 1em;
	margin-bottom: 0em;
	border-top: solid 0.3em;
}
.hr-side1
{
        display: none;
	margin-top: 0em;
	margin-bottom: 1em;
	border-bottom: solid 0.3em;
}
.indenttb
{
	margin-top: 1em;
	margin-bottom: 1em;
	text-indent: 1.2em;
}
.noindentt1
{
	margin-top: 0.6em;
	margin-bottom: 0.1em;
	text-indent: 0.01em;
}
.hr-ind
{
        display: none;
	margin-top: 1em;
	margin-bottom: 0em;
	border-top: solid 0.3em;
}
.hr-ind1
{
        display: none;
	margin-top: 0em;
	margin-bottom: 0em;
	border-bottom: solid 0.3em;
}
.hr-sidef
{
        display: none;
	margin-top: 0em;
	margin-bottom: 0em;
	border-bottom: solid 0.3em;
}
.fm
{
        font-size: 1.3em;
	margin-top: 2em;
	margin-bottom: 0.3em;
	text-align: center;
}
.bull2
{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 1.1em;
	text-align: left;
	text-indent: -1.1em;
}
.noindenttb
{
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	text-indent: 0.01em;
}
.noindent55
{
        font-size: 1.1em;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	text-indent: 0.01em;
}
.copyrightll
{
	margin-top: 0.8em;
	margin-bottom: 0.2em;
	margin-left: 3em;
	text-align: left;
	text-indent: 0.01em;
}
.copyright1
{
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	text-indent: 0.01em;
}
.copyright11
{
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	margin-left: 3em;
	text-align: left;
	text-indent: 0.01em;
}
.h2aa
{
	font-size: 180%;
	margin-top: 2em;
	margin-bottom: 1em;
	text-align: center;
}
.toc1a
{
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	text-align: center;
}
.image2
{
	margin-top: 1.5em;
	margin-bottom: 0.4em;
	text-align: center;
}
}
